body {
  background-color: grey;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

#score{
  display: flex;
  flex-direction: row;
  position: static;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 100vh;
  background-color: rgba(94, 148, 7, 0.26);
  border-radius: 100px;
}
.score-Number{
  color: seagreen;
  background-color: aliceblue;
  margin: 100px;
  border-radius: 20px;
}

#container {
  height: 40rem;
  width: 40rem;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
}
.tickable {
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  margin: 0;
  border-color: red;
  font-size: 12rem;
  cursor: pointer;
}

p {
  color: red;
  user-select: none;
}

#reset {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(143, 81, 201);
  margin-top: 6rem;
  height: 10rem;
  width: 10rem;
}
#reset:hover {
  rotate: 360deg;
  cursor: pointer;
  background-color: rgba(18, 245, 226, 0.623);
  transition: rotate, background-color, 1s;
}

img {
  height: 5rem;
  width: 5rem;
}
#turn-indicator {
  font-size: 4 rem;
  color: red;
}
.anime1{
  transform: scale(35, 13);
  opacity: 100;
  transition: transform 1s;
}
.anime2{
  transform: scale(50,13);
  opacity: 100;
  transition: transform 1s;
}
#cross0 {
  border-radius: 5px;
  position: absolute;
  height: 1px;
  width: 1rem;
  background-color: lightblue;
  top: 6.5rem;
  visibility: hidden;
  left: 20rem;
}

#cross1 {
  border-radius: 5px;
  position: absolute;
  height: 1px;
  width: 1rem;
  background-color: lightblue;
  top: 20.5rem;
  left: 20rem;
  visibility: hidden;
}

#cross2 {
  border-radius: 5px;
  position: absolute;
  height: 1px;
  width: 1rem;
  background-color: lightblue;
  left: 20rem;
  top: 34.5rem;
  visibility: hidden;
}

#cross3 {
  border-radius: 5px;
  position: absolute;
  height: 1px;
  width: 1rem;
  background-color: lightblue;
  rotate: 90deg;
  left: 6.5rem;
  top: 50%;
  visibility: hidden;
}



#cross4 {
  border-radius: 5px;
  height: 1px;
  width: 1rem;
  background-color: lightblue;
  position: absolute;
  rotate: 90deg;
  top: 50%;
  left: 20.3rem;
  visibility: hidden;
}


#cross5 {
  border-radius: 5px;
  rotate: 90deg;
  height: 1px;
  width: 1rem;
  background-color: lightblue;
  position: absolute;
  left: 33rem;
  top: 50%;
  vertical-align: top;
  visibility: hidden;
}


#cross6 {
  border-radius: 5px;
  height: 1px;
  width: 1rem;
  background-color: lightblue;
  position: absolute;
  top: 22rem;
  right: 20rem;
  rotate: -47deg;
  visibility: hidden;
}

#cross7 {
  border-radius: 5px;
  height: 1px;
  width: 1rem;
  background-color: lightblue;
  position: absolute;
  top: 22rem;
  left: 20rem;
  rotate: 47deg;
  visibility: hidden;
}

