body {
  background-color: grey;
  height: 100vh;
  font-size: 5rem;
}

#score{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 100%;
  background-color: rgba(94, 148, 7, 0.26);
  border-radius: 100px;
}
.score-Number{
  color: seagreen;
  background-color: aliceblue;
  margin: 50px;
  border-radius: 20px;
  padding: 10px;
}
#delete-form{
  justify-self: center;
  align-self: center;
}
#delete-button{
  background-color: darkgoldenrod;
  width: 10rem;
  height: 3rem;
}

#container {
  align-self: center;
  justify-self: center;
  height: 20rem;
  width: 20rem;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
}
.tickable {
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  margin: 0;
  border-color: red;
  font-size: 4rem;
  cursor: pointer;
}

p {
  color: rgb(189, 30, 204);
  user-select: none;
  font-size: 3rem;
}

#reset {
  justify-self: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(143, 81, 201);
  margin-top: 3rem;
  height: 5rem;
  width: 5rem;
}
#reset:hover {
  rotate: 360deg;
  cursor: pointer;
  background-color: rgba(18, 245, 226, 0.623);
  transition: rotate, background-color, 1s;
}

img {
  height: 3rem;
  width: 3rem;
}
#turn-indicator {
  text-align: center;
  font-size: 4rem;
  color: red;
}
.anime1{
  transform: scale(18, 13);
  opacity: 100;
  transition: transform 1s;
}
.anime2{
  transform: scale(23,13);
  opacity: 100;
  transition: transform 1s;
}
#cross0 {
  border-radius: 5px;
  position: absolute;
  height: 1px;
  width: 1rem;
  top: 3.5rem;
  left: 47%;
  background-color: lightblue;
  visibility: hidden;
}

#cross1 {
  border-radius: 5px;
  position: absolute;
  height: 1px;
  width: 1rem;
  background-color: lightblue;
  top: 10rem;
  left: 47%;
  visibility: hidden;
}

#cross2 {
  border-radius: 5px;
  position: absolute;
  height: 1px;
  width: 1rem;
  background-color: lightblue;
  left: 47%;
  top: 16.7rem;
  visibility: hidden;
}

#cross3 {
  border-radius: 5px;
  position: absolute;
  height: 1px;
  width: 1rem;
  background-color: lightblue;
  rotate: 90deg;
  left: 2.8rem;
  top: 50%;
  visibility: hidden;
}



#cross4 {
  border-radius: 5px;
  height: 1px;
  width: 1rem;
  background-color: lightblue;
  position: absolute;
  rotate: 90deg;
  top: 50%;
  left: 9.5rem;
  visibility: hidden;
}


#cross5 {
  border-radius: 5px;
  rotate: 90deg;
  height: 1px;
  width: 1rem;
  background-color: lightblue;
  position: absolute;
  left: 16.2rem;
  top: 50%;
  vertical-align: top;
  visibility: hidden;
}


#cross6 {
  border-radius: 5px;
  height: 1px;
  width: 1rem;
  background-color: lightblue;
  position: absolute;
  top: 10rem;
  right: 9.6rem;
  rotate: -47deg;
  visibility: hidden;
}

#cross7 {
  border-radius: 5px;
  height: 1px;
  width: 1rem;
  background-color: lightblue;
  position: absolute;
  top: 10rem;
  left: 9.5rem;
  rotate: 47deg;
  visibility: hidden;
}

